<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Twitter friend's locator</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Enter the Twitter username</h1>
        <form action="http://127.0.0.1:5000/" method="get">
            <input name="q" type="text" class="my_field"/>
            <br/><br/>
            <input type="submit" value="Build map!" formaction="/map" class="my_button">
        </form>
    </body>
</html>